
p
{
 text-align: center;
  color:#022594;
  font-family: Verdana;
  font-size:50px;
}

h1
{
  text-align: center;
  color:#022594;
  font-family: Verdana;
  font-size:60px;
}
h2
{
  text-align: center;
  color:#022594;
  font-family: Verdana;
  font-size:50px;
}
h3
{
  text-align: center;
  color:#022594;
  font-family: Verdana;
  font-size:50px;
}
h4
{
  text-align: center;
  padding-top:-55px;
  font-size:20px;
  color:#022594;
  font-family: Verdana;
}
h5
{
  text-align: center;
  text-decoration:underline;
  color:#022594;
  font-family: Verdana;
  font-size:15px;
  padding-right:31px;
  padding-top:25px;
}
html {
  height:100%;
  background-size: cover;
}

body {
  margin:0;
  background: linear-gradient(-45deg, #82589F, #e73c7e, #B33771, #D6A2E8,#3c6382,#079992,#6a89cc,#78e08f,#78e08f,#b8e994);
  background-size: 600% 600%;
  animation: gradient 18s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image1
{ 
  
  display: block;  
  width:300px;
  height:150px;
  clip-path:circle(70px at 50% 50%);/* avata tròn */
  margin-botom:80px; margin-left: auto;  margin-right: auto;  width: 18%;
  
 
}
.image2
{
  display: block;
  margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px;
  
  
}
.image3
{
  display: block;  
  margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px; 
  
}
.image4
{
  display: block;  
  margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px;
}
.image5
{
  display: block;  
 margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px;
  
}
.image6
{
  display: block;  
 margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px;
}
.image7
{
  display: block;  
 margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px;
  
}
.image8
{
  display: block;  
 margin-left:60px;  
  margin-right: auto;  
  width: 8%;  
  margin-botom:0px;
  
}
/* box */
.codepro-colorbox {
    overflow: hidden;
    position: relative;
    margin: .5rem 0 .5rem;
    transition: box-shadow.20 s;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
    font-size: 30px   
    
}

.codepro-colorbox.blue {
    font-family: Verdana;
    width: 400px;
    height: 26px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    background: #1e90ff
}

.codepro-colorbox.green {
   font-family: Verdana;
    width: 400px;
    height: 26px;
    padding: 30px 20px 30px;
  margin: 30px auto;
    background: #ff6b81
}

.codepro-colorbox.red {
   font-family: Verdana;
    width: 400px;
    height: 26px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    background: #eb4d4b
}

.codepro-colorbox.orange {
   font-family: Verdana;
    width: 400px;
    height: 26px;
    padding: 30px 20px 30px;
    margin: 20px auto;
    background: #ff7f50

}

.codepro-colorbox.purple {
    font-family: Verdana;
    width: 400px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    height: 26px;
    background: #673ab7 
}
.codepro-colorbox.Brown {
    font-family: Verdana;
    width: 400px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    height: 26px;
    background: #5758BB 
}
.codepro-colorbox.bted {
    font-family: Verdana;
    width: 400px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    height: 26px;
    background: #30336b 
}
.codepro-colorbox.bink {
    font-family: Verdana;
    width: 400px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    height: 26px;
    background: #e84393
}
.codepro-colorbox.xanh {
    font-family: Verdana;
    width: 400px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    height: 26px;
    background: #0984e3 
}
.codepro-colorbox.black {
    font-family: Verdana;
    width: 400px;
    padding: 30px 20px 30px;
    margin: 30px auto;
    height: 26px;
    background: #353b48; 
}
/* nền */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#ecf0f1

    height: 180vh;
    opacity: 1.5;

}

section .box{
    position: relative;
    max-width: 600px;
    padding: 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: #ecf0f1;
    /* sửa color để đổi màu chữ bên trong box trong suốt */
}

section .box:before{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;

     background-color:#ecf0f1
    filter: blur(6px);
}

section .box h2{
    position: relative;
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    z-index: 2;
  
}

section .box p{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 18px;
    z-index: 2;
}
